
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>m a d e_ w i t h _❤️ _b y _<a href="https://andrasegyed.netlify.app/" 
      target="_blank" rel="noopener noreferrer">a n d R a s</a></p>
  </div>
</div>
</body>
</html>
