<%- include("partials/header"); -%>
  <div class="about-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">
              Welcome to Our blog!
            </h5>
            <p style="padding: 15px 0 15px;" class="card-text">
              
            </p>
            <p class="card-text">
              • Try to keep it brief but interesting.
            </p>
            <p class="card-text">
              • No swearing or hating on anyone.
            </p>
            <p class="card-text">
              • Be chill!
            </p>
            <button class="btn" onClick="location.href = '/home'">Enter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>