html {
  margin: 0;
  width: 100%;
}

body {
  background-image: url(/images/bg.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #e46161;
}

body::-webkit-scrollbar-thumb {
  background: #c92dc1;
}

.navbar {
  background-image: linear-gradient(to right, #f45484, #f58faf) !important;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 50px;
}

.navbar-brand {
  color: #ffff !important;
  font-size: x-large;
}

.navbar-nav li:not(:last-child) {
  padding-right: 15px;
}

.fa-pen-nib {
  padding-right: 5px;
}

.color-me {
  color: #ffff !important;
}

.color-me i {
  margin-right: 5px;
}

i.color-me:hover {
  text-decoration: none;
}

.container-fluid {
  width: 70%;
}

.card {
  background-color: #f58faf;
}

.col-sm-6 {
  padding: 20px;
  opacity: 80%;
}

.card-title {
  padding-bottom: 10px;
  opacity: 1;
}

p a {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: initial;
  transition: 0.3s ease;
}

.btn {
  float: right;
  border: none;
  background-color: #f45484;
}

.btn:hover {
  text-decoration: underline;
  transform: scale(1.1);
  background-color: #f45484;
  transition: 0.1s ease-in-out;
}

.about-container {
  margin: auto;
  max-width: 50%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer p {
  text-align: center;
  font-size: 13px;
  margin: 0;
}

.footer a {
  font-weight: normal;
}

.footer a:hover {
  text-decoration: underline;
}

.kitty {
  width: 100%;
  position: relative;
  display: inline-flex;
  top: 35px;
}

.kitty img {
  width: 180px;
  margin: auto;
  height: auto;
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .container-fluid {
    width: 80%  ;
   }
}
@media screen and (max-width: 991px) {
  .container-fluid {
    width: 90%;
   }
}

@media screen and (max-width: 768px) {
.container-fluid{
  width: 100%;
   }
}

@media screen and (max-width: 768px) {
  .navbar-nav li:not(:last-child) {
    padding-right: 5px;
  }
  .container-fluid{
    width: 100%;
     }
  }
  @media screen and (max-width: 433px) {
    a.nav-link {
      text-align: center;
    }
    }

/* 


@media screen and (max-width: 991px) {
  .kitty {
    top: 29px;
   }
}


@media screen and (max-width: 768px) {
  .kitty {
    top: 30px;
   }
}


@media screen and (max-width: 450px) {
   .container {
    width: 99% !important  
  }
  h1{
    font-size: 20px;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
 .navbar-brand {
  font-size: 15px;
  margin-bottom: 0;
  position: absolute;
  padding-top: 7px;
  left: 0;
  top: 0;
  width: 115px;
  line-height: 25px;
 }

 .navbar-right {
  margin-top: 0;
  margin-bottom: 0;
 }

 .color-me{
  color: rgb(90, 81, 81) !important;
  padding: 5px !important;
  text-align: right;
}
hr{
  margin-bottom: 35px;
}

.kitty {
   top: 29px;
  }
}

 */