html {
  min-height: 100%;
  position: relative;
  margin: 0;
  width: 100%;
}

body {
  background-color: #fdcfdf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #d651a6;
}

body::-webkit-scrollbar-thumb {
  background: #f38181;
}

hr {
    color: #f38181;
    border-top: dotted 10px;
    width: 55px;
    border-bottom: none;
    border-left: 0;
    border-right: 0;
    margin: 15px auto 60px;
  }

.navbar {
    padding-top: 15px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #f38181;
}

.dear {
  text-align: center;
  font-style: italic;
  max-width: 420px;
  margin: auto;
  padding-top: 15px;
}

.color-me{
    color: #ffff !important;
}

.navbar-brand{
    color: #ffff !important;
    font-size: x-large;
}

.navbar-right {
  font-size: 1.2em;
}

.navbar-nav  li a:hover {
    color: #1a1c20 !important;
}

.btn-primary {
    background-color: #f38181;
}

.btn-primary:hover {
  background-color: #BB7A7A;
}

.btn-primary:active {
  background-color: #DE5D83 !important;
}

.btn-primary:focus {
  background-color: #DE5D83 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f38181;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: palevioletred;
}

.footer a:hover {
  text-decoration: none;
  color: #1a1c20;
}
.kitty {
width: 100%;
 position: relative;
 display: inline-flex;
 top: 130px;
}

.kitty img {
  width: 180px;
  margin: auto;  
  height: auto;
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .kitty {
    top: 75px;
   }
}


@media screen and (max-width: 991px) {
  .kitty {
    top: 29px;
   }
}


@media screen and (max-width: 768px) {
  .kitty {
    top: 30px;
   }
}



@media screen and (max-width: 450px) {
   .container {
    width: 99% !important  
  }
  h1{
    font-size: 20px;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
 .navbar-brand {
  font-size: 15px;
  margin-bottom: 0;
  position: absolute;
  padding-top: 7px;
  left: 0;
  top: 0;
  width: 115px;
  line-height: 25px;
 }

 .navbar-right {
  margin-top: 0;
  margin-bottom: 0;
 }

 .color-me{
  color: rgb(90, 81, 81) !important;
  padding: 5px !important;
  text-align: right;
}
hr{
  margin-bottom: 35px;
}

.kitty {
   top: 29px;
  }
}


