html {
  margin: 0;
  width: 100%;
}

body {
  background-image: url(/images/bg.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #e46161;
}

body::-webkit-scrollbar-thumb {
  background: #c92dc1;
}

.navbar {
  background-image: linear-gradient(to right, #f45484, #f58faf) !important;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 50px;
}

.navbar-brand {
  color: #ffff !important;
  font-size: x-large;
}

.navbar-nav li:not(:last-child) {
  padding-right: 15px;
}

.fa-pen-nib {
  padding-right: 5px;
}

.nav-link i {
  margin-right: 5px;
}

i.nav-link:hover {
  text-decoration: none;
}

.container-fluid {
  width: 70%;
}

.card {
  background-color: #f58faf;
}

.col-sm-6,
.col-sm-12 {
  padding: 20px;
  opacity: 80%;
}

.card-title {
  padding-bottom: 10px;
  opacity: 1;
}

p a {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: initial;
  scale: 1.1;
  
}

.btn {
  float: right;
  border: none;
  background-color: #f45484;
  color: white;
}

.btn:hover {
  color: white;
  text-decoration: underline;
  background-color: #f45484;
  transition: 0.2s ease-in-out;
  scale: 1.1;
}

.about-container {
  margin: auto;
  max-width: 50%;
  padding: 0 20px;
}

textarea {
  margin-bottom: 15px;
}

img {
  float: right;
  width: 120px;
  position: relative;
  top: -10px;
  left: -10px;
}

.about-container p:last-of-type {
  margin-bottom: 0;
}

.footer {
  margin-top: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer p {
  text-align: center;
  font-size: 13px;
  margin: 0;
}

.footer a {
  font-weight: normal;
}

.footer a:hover {
  text-decoration: underline;
}

.kitty {
  width: 100%;
  position: relative;
  display: inline-flex;
  top: 35px;
}

.kitty img {
  width: 180px;
  margin: auto;
  height: auto;
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .container-fluid {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .container-fluid {
    width: 90%;
  }

  .about-container {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    width: 100%;
  }

  .about-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav li:not(:last-child) {
    padding-right: 5px;
  }

  .container-fluid {
    width: 100%;
  }

  .about-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 433px) {
  a.nav-link {
    text-align: center;
  }
}